

<div align = center><%= image_tag("brevard.png", :alt => "School of Engineering Logo") %></div>
<h1 align = center>Workflow App Homepage</h1>

<!-- Log in button for the home page. The idea behind having a redundant button in place is so that when a user arrives, "sign in" will be the first
thing that jumps out at them -->
<div>
  <% if current_user %>
    <p align = center>
      <strong>
        Successfully signed in.
      </strong>
    </p>
  <% else %>
    <div align = center><%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-primary btn-wide-1", id: "sign_in" %></div>
    <p align = center>
      <strong>
        Not logged in. Please sign in to continue.
      </strong>
    </p>
  <% end %>


  <h1></h1>
  <%  if (User.find_by(email: "")) %>
    <h1> Found user </h1>
  <% end %>
</div>
