
  <div class="sidebarEdit">
    <h1 class="editHead">Form Editor</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @form_type %> |
    <%= link_to 'Back', form_types_path %>
  </div>

  <div class="dropsite">

  </div>
