<% if current_user.nil? %>
  <h1> You must be logged in to view this page. </h1>
<% end %>



<% if !current_user.role? :admin && !current_user.nil? %>
  <h1> You do not have permission to view this page. </h1>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @form_type.name %>
</p>


<%= link_to 'Edit', edit_form_type_path(@form_type) %> |
<%= link_to 'Back', form_types_path %>
