/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$navbar-custom-bg: #14213d
$navbar-custom-border: #14213d


body
  background: #f2f2f2

.navbar-custom
  background-color: $navbar-custom-bg !important
  border-color: $navbar-custom-border !important

.navbar-brand
  font-size: 190%
  color: white

.btn-primary, .btn-primary:active, .btn-primary:visited
    background-color: #c20000 !important
    border-color: #320000 !important
.btn-primary:hover
  background-color: #920000 !important

.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: #14213d
  color: white
  text-align: center

.btn-wide-1
  width: 400px
  height: 50px
  font-size: 180%

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  width: 80%
  margin: 0 auto
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px black
  margin-top: 20px

#flash_notice
  color: #00B205

#flash_alert
  color: #D00

.error_messages, #error_explanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px

  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff

  p
    margin: 8px 10px

  ul
    margin-bottom: 0

//SASS related to dynamic fields.
.field_with_errors
  display: inline

form .field, form .actions
  margin: 12px 0

fieldset
  border: none
  border: solid 1px #CCC
  padding: 10px 15px
  margin: 15px 0
  position: relative

  .remove_fields
    position: absolute
    right: 20px
    top: 12px
    font-size: 12px
